.projects {
  margin: 80px;
  display: flex;
  justify-self: center;
  flex-direction: column;
  text-align: center;
}

.projects-title {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 25px;
}

.projects-sub {
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 50px;
  color: rgba(0, 125, 0, 0.9);
}
