.home{
display: flex;
align-items: center;
justify-content: center;
min-height: 90vh;
}

.home-body{
text-align: center;
color: white;
}

.home-heading{
font-size: 55px;
font-weight: 700;
justify-self: center;
margin-bottom: 10px;
}

.home-txt{
font-size: 15px;
}