.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.footer-name {
  font-size: 18px;
  color: green;
}

.footer-links {
  margin: 0 25px 0;
  display: flex;
  gap: 10px;
}

.footer-link {
  font-size: 30px;
}

.footer-gh {
  color: green;
}

.footer-li {
  color: green;
}

.home-footer .footer-name,
.home-footer .footer-gh,
.home-footer .footer-li {
  color: white;
}
