.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  height: 100%;
  margin: 40px;
  box-sizing: border-box;
}

.resume-heading {
  display: flex;
  margin: 60px 0 120px;
  font-size: 80px;
  font-weight: 700;
  align-items: center;
}

.resume-download {
  display: flex;
}

.resume-logo {
  height: 40px;
  color: green;
  margin-left: 60px;
}

.resume-PicWrap {
  display: flex;
  gap: 70px;
}

.resume-img {
  border: 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 100%;
  min-height: 1200px;
  margin-bottom: 70px;
  object-fit: cover;
}
